<!DOCTYPE html>
<html>

<head>
  <title>微博-随时随地发现新鲜事</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="search">
      <!-- <div class="logo">
        <img src="" alt="">
      </div> -->
      <input type="text" placeholder="大家正在搜：南开大学官博" />
    </div>
    <nav>
      <ul>
        <li>首页</li>
        <li>视频</li>
        <li>发现</li>
        <li>游戏</li>
        <li>注册登陆</li>
      </ul>
    </nav>
  </header>
  <main>
    <aside>
      <ul>
        <li class="active">热门</li>
        <li>头条</li>
        <li>视频</li>
        <li>榜单</li>
        <li>搞笑</li>
        <li>社会</li>
        <li>时尚</li>
        <li>电影</li>
        <li>美女</li>
        <li>体育</li>
        <li>动漫</li>
        <li>美女</li>
      </ul>
    </aside>
    <div class="tabs">
      
    </div>
  </main>
  <footer>

  </footer>
</body>

</html>